
.container{
    height: 706px;
    width: 900px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid white;

}

h1{
    font-family: Helvetica, sans-serif;
    color: purple;
    text-align: center;
    opacity: 60%;
}


.toolbox_nav{
    height: 80px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid gray;
    opacity: 70%;
}

.btn {
    background-color: white;
    border: 1px solid purple;
    border-radius: 30%;
    color: gray;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: purple;
  }

li{
    display:inline;
}






.textarea textarea{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-left: 81px;
    margin-top: 10px;
    border: 6px solid purple;
    outline: none;
    font-size: 30px;


}